:root {
  --color-violette: rgb(94, 38, 80);
  --color-light-violette: rgb(135, 75, 120);
  --color-dark-pink: rgb(168, 117, 154);
  --color-pink: rgb(218, 169, 205);
  --color-light-pink: rgb(247, 222, 241);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to left bottom,
    var(--color-light-violette),
    var(--color-pink)
  );
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bg__dot {
  position: relative;
  width: 10vh;
  height: 10vh;

  background: linear-gradient(
    to left,
    rgba(247, 222, 241, 0.8),
    rgba(135, 75, 120, 0.6)
  );
  border-radius: 50%;
}
.bg__dot:nth-child(1) {
  width: 50vh;
  height: 50vh;
  position: absolute;
  left: 0;
  top: 10%;
  animation: move1 10s linear infinite;
}
.bg__dot:nth-child(2) {
  width: 30vh;
  height: 30vh;
  left: 50%;
  top: 70%;
  animation: move2 15s infinite linear;
}
main {
  min-width: 30%;
}

.form__user-icon {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  background: var(--color-pink);

  border-radius: 50%;
  border: solid 3.5px var(--color-light-pink);
  box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.form__user-icon::after {
  display: block;
  position: absolute;
  top: 65%;
  width: 100%;
  height: 50%;
  content: " ";
  background: var(--color-light-pink);
  border-radius: 50%;
}
.form__user-icon::before {
  display: block;
  position: absolute;
  top: 15%;
  left: 50%;
  width: 45%;
  height: 45%;
  content: " ";
  transform: translateX(-50%);
  background: var(--color-light-pink);
  border-radius: 50%;
}
.thanks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50vw;
  min-height: 50vh;

  text-align: center;
}
.thanks,
form {
  padding: 30px 20px;
  margin: 20px auto;
  background: linear-gradient(
    to right top,
    rgba(94, 38, 80, 0.3),
    rgba(247, 222, 241, 0.3)
  );
  color: var(--color-light-pink);
  border-radius: 20px;
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}
form {
  display: flex;
  flex-direction: column;

  /* 3d effect */
}
h1,
p,
a {
  margin: 20px 15px;
}
h1 {
  /* padding-bottom: 20px; */
  font-size: 48px;
}
p {
  font-size: 24px;
  color: var(--color-violette);
}
input,
button,
textarea {
  width: 100%;
  padding: 5px;
  background: rgba(218, 169, 205, 0.3);
  border: none;
  /* color: var(--color-dark-pink); */
  /* color: var(--color-light-violette); */
  font-size: 24px;
  padding: 10px 20px;
  box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  outline: solid 3px var(--color-light-pink);
  transition: 0.3s;
}

input,
button,
textarea,
label {
  /* color: var(--color-light-pink); */
  color: var(--color-light-violette);
  font-size: 24px;
}
input:hover,
button:hover,
textarea:hover {
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.8);
}
.form__input-container {
  position: relative;
  margin-bottom: 20px;
}

label {
  position: absolute;
  top: 50%;
  left: 24px;

  font-style: italic;
  transform: translateY(-50%);
  transition: left 0.3s, opacity 0.3s;
  opacity: 1;
}
input:focus + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
  left: 200px;
  opacity: 0;
}
.form__spacer {
  height: 2px;
  width: 80%;
  margin: 10px auto 20px;
  background: var(--color-light-pink);
  border-radius: 100%;
}
button {
  margin: 10px auto;
  width: 50%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

button::after {
  display: block;
  position: absolute;
  top: -50%;
  left: -70px;
  height: 80px;
  width: 50px;
  content: " ";
  background: rgba(247, 222, 241, 0.7);

  transform: skewX(-15deg);
  /* sprawia, że element jest pochylony pod kątem 15stopni */
}
button:hover::after {
  transform: translate(300px);
}
button::after {
  transition: transform 0.3s linear;
}

@keyframes move1 {
  from {
    transform: translateX(-40vh);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes move2 {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: translateX(-65vw);
  }
}

@media (orientation: portrait) {
  .bg__dot:nth-child(1) {
    left: 0;
    top: -30%;
    /* animation: move1 10s linear infinite; */
  }
  .bg__dot:nth-child(2) {
    left: 50%;
    top: 90%;
    /* animation: move2 15s infinite linear; */
  }
  @keyframes move1 {
    from {
      transform: translateY(-40vh);
    }
    to {
      transform: translateY(130vh);
    }
  }

  @keyframes move2 {
    from {
      transform: translateY(10vh);
    }
    to {
      transform: translateY(-130vh);
    }
  }
}
@media (max-width: 712px) {
  .thanks {
    min-width: 80vw;
  }
}
@media (max-width: 566px) {
  .thanks {
    min-width: 90vw;
  }
}
@media (max-width: 566px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
}
